html {
  overflow-x: hidden !important;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 18px;
  overflow-x: hidden !important;
  position: relative;
  width: 100%;
  // background: var(--c-background);
  max-width: 100%;

  background: linear-gradient(to bottom, transparent, rgb(0, 0, 0)) rgb(0, 0, 0);
  transition: ease 0.2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
