.home_container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // position: relative;
  @media (min-width: 768px) {
    // height: 200px;
    // padding: 0 50px;
  }
}

.home_header {
  display: flex;
  flex-flow: column;
  justify-content: end;
  padding: 0 100px;
  align-items: center;
  // height: 100px;
  // height: 480px;

  background: var(--c-primary);
  @media (min-width: 768px) {
    // height: 200px;
    padding: 0 50px;
  }
}

.main_h1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: clamp(25px, 8vw, 100px);
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.0415625em;
    margin: 0;
    // padding-bottom: 40px;
  }
  p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: clamp(12px, 2vw, 100px);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.0415625em;
    padding-bottom: 30px;
  }
}

.input_container {
  display: flex;
  width: clamp(100px, 70vw, 480px);
  input {
    display: flex;
    width: clamp(100px, 70vw, 480px);
    // min-width: 480px;
    color: var(--h-secondary);
    background: var(--input-primary);
    border: 1px solid var(--h-secondary);
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.0415625em;
    &:focus {
      border: 2px solid var(--h-secondary);
      outline: none;
    }
  }
}

.noise {
  z-index: -20;
  position: absolute;
  inset: 0;
  background-image: url(/src/shared/assets/noise.webp);
  opacity: 0.3;
  mix-blend-mode: overlay;
  pointer-events: none;
}
.figure3 {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  opacity: 0.85;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(255, 129, 65, 1) 15%,
    rgba(181, 58, 17, 1) 38%,
    rgba(179, 40, 22, 1) 96%
  );
  border-radius: 9999px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  width: min(50vw, 400px);
  position: absolute;
  height: min(40vw, 400px);
  // height: 400px;
  top: min(60vw, 400px);
  left: -90px;
  z-index: -30;
  @media (max-width: 576px) {
    top: 600px;
  }
}

.figure4 {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  opacity: 0.95;
  background-image: linear-gradient(266.93deg, #02fdf1 10%, #7ab9b4 90%);
  border-radius: 9999px;
  // --tw-translate-x: 30%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  position: absolute;
  // width: 600px;
  // height: 600px;
  width: min(50vw, 600px);
  height: min(50vw, 600px);
  bottom: -200px;
  top: min(40vw, 300px);
  right: -100px;
  z-index: -30;
  @media (max-width: 576px) {
  top: 400px;
  // bottom: 0px;
  }
}

.search_container {
  display: flex;
  justify-content: center;
  color: var(--h-secondary);
}
.search {
  width: clamp(98px, 70vw, 476px);
  background-color: rgba(0, 0, 0, 0.2);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.channel {
  list-style: none;
  color: var(--h-secondary);
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: start;
  padding-top: 12px;
  padding: 12px 0 0 20px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }
  img {
    width: 50px;
    border-radius: 99px;
  }
  svg {
    position: relative;
    top: -19px;
    left: 4px;
    fill: var(--c-primary);
    animation: blink 1.8s infinite;
  }
  span {
    padding-left: 20px;
    top: -20px;
    position: relative;
  }
}

.loader {
  display: flex;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  top: 50px;
  font-size: 1.5rem;
  color: var(--h-secondary); /* Цвет текста */
}

.spinner {
  top: 50px;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-right: 0.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notification {
  color: var(--h-secondary);
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  top: 2%;
  left: 45%;
  width: 200px;
  background: black;
  height: 90px;
}

.notification_constainer {
  font-size: 1.5rem;
  color: var(--h-secondary);
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: -19px;
  width: 50;
  svg {
    width: 100px;
    padding-left: 12px;
    height: 70px;
  }
}
.alert_message {
  width: 40%;
}
