.home_container {
  width: 100%;
  height: 100vh;
  max-height: 100%;
}

.home_header {
  display: flex;
  flex-flow: column;

  justify-content: end;
  padding: 0 200px;
  align-items: center;
  height: 480px;
  background: var(--c-primary);
}

.main_h1 {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 7.4rem;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.0415625em;
    padding-bottom: 40px;
  }
  p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.0415625em;
    padding-bottom: 30px;
  }
}

.input_container {
  display: flex;
  input {
    display: flex;
    min-width: 480px;
    color: var(--h-secondary);
    background: var(--input-primary);
    border: 1px solid var(--h-secondary);
    justify-content: center;
    text-align: center;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.0415625em;
    &:focus {
      border: 2px solid var(--h-secondary);
      outline: none;
    }
  }
}

.figure {
  overflow-x: hidden;
  &::before {
    content: "";
    left: 0;
    bottom: -10px;
    position: absolute;
    filter: blur(55px);
    transform: translateZ(0);
    background: linear-gradient(
      to bottom left,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(219, 10, 10, 0.329)
    );
    border-radius: 90%;
    width: 480px;
    height: 360px;
  }
  &::after {
    content: "";
    right: -200px;
    bottom: 10px;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
    background: radial-gradient(rgba(1, 247, 255, 0.4), rgba(249, 250, 250, 0));
    width: 340px;
    height: 240px;
    z-index: -1;
  }
}

.figure2 {
  overflow: hidden;

  &::before {
    content: "";
    left: -100px;
    top: 100px;
    position: absolute;
    filter: blur(15px);
    transform: translateZ(0);
    background: radial-gradient(
      // to bottom right,
      // rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(170, 155, 24, 0.329)
    );
    border-radius: 90%;
    width: 480px;
    height: 360px;
  }
  &::after {
    content: "";
    right: -200px;
    bottom: 10px;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
    background: radial-gradient(rgba(1, 247, 255, 0.4), rgba(249, 250, 250, 0));
    width: 340px;
    height: 240px;
    z-index: -1;
  }
}

.figure3 {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  opacity: 0.85;
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(255, 129, 65, 1) 15%,
    rgba(181, 58, 17, 1) 38%,
    rgba(179, 40, 22, 1) 96%
  );
  border-radius: 9999px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  width: max(25vw, 100px);
  position: absolute;
  height: 400px;
  bottom: -100px;
  left: -200px;
  z-index: -30;
}

.figure4 {
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.8), transparent 70%);
  opacity: 0.95;
  background-image: linear-gradient(266.93deg, #02fdf1 10%, #7ab9b4 90%);
  border-radius: 9999px;
  // --tw-translate-x: 30%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  position: absolute;
  width: 600px;
  height: 600px;
  bottom: -200px;
  top: 300px;
  right: -300px;
  z-index: -30;
}

.search_container {
  display: flex;
  justify-content: center;
  color: var(--h-secondary);
}
.search {
  width: 476px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.channel {
  list-style: none;
  color: var(--h-secondary);
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: start;
  padding-top: 12px;
  img {
    width: 50px;
    border-radius: 99px;
  }
  svg {
    position: relative;
    top: -19px;
    left: 4px;
    fill: var(--c-primary);
    animation: blink 1.8s infinite;
  }
  span {
    padding-left: 20px;
    top: -20px;
    position: relative;
  }
}
