.header {
  width: 100%;
  // position: relative;
  padding: 0 50px;
  background: var(--h-primary);
  display: flex;
  height: 100px;
  min-height: 70px;
  @media (max-width: 579px) {
    // width: 100%;
    // min-width: 414px;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  img {
    padding-right: 40px;
  }
}

.header_word {
  display: flex;
  letter-spacing: 1.4px;
  line-height: 1.5;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding-right: 40px;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  padding-right: 20px;
  position: relative;
  svg {
    position: absolute;
    top: -2px;
    right: -16px;
    width: 28px;
    height: 28px;
    fill: var(--h-secondary);
  }
}

.mobile_toggle {
  display: none;
  font-size: 40px;
  cursor: pointer;
  z-index: 1001;
}
.mobile_container {
  position: absolute;
  z-index: 500;
  top: -20px;
  align-items: center;
  // justify-content: flex-start;
  display: flex;
  flex-flow: column;
  background: var(--h-primary);
  justify-content: center;
  width: 90vw;
  height: 90vh;
}
.header_word_mob {
  color: #000;
  display: flex;
  letter-spacing: 1.4px;
  line-height: 1.5;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  padding: 30px;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.sing_in_mob {
  padding: 20px;
  color: #000;
  display: flex;
  letter-spacing: 1.4px;
  line-height: 1.5;
  font-weight: 700;
  font-size: 16px;
  position: relative;
  // padding: 30px;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.right_mob {
  display: flex;
  // padding-right: 10px;
  position: relative;
  left: -7px;
  svg {
    position: absolute;
    top: 20px;
    right: -6px;
    width: 24px;
    height: 24px;
    fill: var(--h-secondary);
  }
}
.sing_in {
  padding: 0;
}
@media only screen and (max-width: 579px) {
  .mobile_toggle {
    display: block;
  }
  .right {
    display: none;
  }
  .header_word {
    display: none;
  }
}
